* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: rgb(0, 173, 173);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: rgb(0, 173, 173) ;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: rgb(0, 173, 173);
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="search"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 200px;
}

.search-form button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 0px 5px 0px 5px;
    background-color:rgb(0, 173, 173);
    color: #f1f1f1;
    cursor: pointer;
}

.search-form button [type="submit"] :hover {
    background-color: #444;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-bottom: 10px;
    }

    .search-form {
        margin-top: 10px;
    }

    .banner-rotativo {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
        border-radius: 20px;
    }
    }
    .banner-item {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
    }

    .banner-item.active {
        display: block;
    }

    .banner-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sidebar {
        position: absolute;
        top: 58px;
        left: 0;
        width: 200px;
        height: 100%;
        background-color: #333;
        color: #f7f2f2;
        padding: flex;
        flex-direction: column;
        border-radius: 5px 0px;
    }

    .sidebar h2 {
        margin-top: 0;
    }

    .sidebar ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .sidebar li {
        margin-bottom: 10px;
    }

    .sidebar a {
        color: #e7e5e5;
        text-decoration: none;
    }

    .sidebar a:hover {
        color: #ccc;
    }

    main {
        margin-left: 200px;
        padding: 20px;
    }

    @media (max-width: 768px) {
        .sidebar {
            position: relative;
            width: 100%;
            height: auto;
            padding: 10px;
        }

        main {
            margin-left: 0;

        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em;
    }

    .section-1 {
        background-color: rgb(141, 236, 236);
        padding: 1em;
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0 0 10px #0a0a0a;
        border-radius: 20px;
    }

    .section-2 {
        background-color: rgb(141, 236, 236);
        padding: 1em;
        margin-bottom: 20px;
        box-shadow: 0 0 10px #0a0a0a;
        border-radius: 20px;
    }

    .dog2 {
        width: 450px;
        height: 500px;
        margin-left:20px ;
    }

    .section h2 {
        margin-top: 0;
    }

article {
    background-color:rgb(141, 236, 236);
    padding: 1em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #0a0a0a;
    border-radius: 20px;
    text-align: justify;
}    

article h2 {
    margin-top: 0;
}

article img {
    width: 100%;
    height: 100%;
    border: #444;
    border-radius: 5px;
    position: relative;
}

.cards {
    display: flex ;
    justify-content: center;
}

.cards:hover {
    -moz-transform: flex;
    -webkit-transform: wrap;
    transform: scale(1.2);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {

    background-color: rgb(141, 236, 236);
    margin: 20px;
    padding: 20px;
    border: 1px solid #0a0a0a;
    border-radius: 10px;
    box-shadow: 0 0 10px #0a0a0a;
    width: calc(33.33% - 20px);
    text-align: center;
}

.card img {
   width: 100%;
   height: 150px;
   object-fit: cover;
   border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

@media (max-width: 768px) {
    .card {
        width: calc(50% -20px);
    }
}

@media (max-width: 480px) {
    .card {
        width: 100%;
    }
}

footer {
    background-color: #333;
    color: rgb(0, 173, 173);
    padding: 1em;
    text-align: center;
    clear: both;
    position: absolute;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}



 